name: build_esp
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          curl -LO https://github.com/theos/sdks/raw/master/iPhoneOS14.5.sdk.tar.xz
          tar -xf iPhoneOS14.5.sdk.tar.xz -C ~/theos/sdks
          echo "THEOS=~/theos" >> $GITHUB_ENV
      - name: Build
        run: |
          make package FINALPACKAGE=1
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: KnivesOut_DEB
          path: packages/*.deb
